
body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: 'Unica One', cursive;
    color: #2f5d62;
}

h2 {
  font-size: 35px;
  margin-top: 0px;
  color: #2f5d62;
  font-weight: normal;
  font-family: 'Antic Slab', serif;
}

h3 {
  color: #5e8b7e;
  font-family: 'Antic Slab', serif;
}

hr {
  border: dotted #A7C4BC 10px;
  border-bottom: none;
  width: 30%;
}


.top-container {
  background-color: #dfeeea;
  padding: 100px 100px 50px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 10px;
  width: 10%;
  height: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 10%;
  height: 20%;
}

.middle-container, .skills {
  padding: 25px 0px;
}

.bottom-container {
  background-color: #dfeeea;
  padding: 50px 0px;
}

.intro {
  text-align: justify;
  width: 60%;
  margin: 25px auto;
}

.python-image, .html-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.flask-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 60%;
  margin: 20px auto;
  text-align: left;
  line-height: 2;
}

.my-work, .contact-me {
  width: 60%;
  margin: auto;
  padding: 25px 0px;
}

.github-image{
  width: 10%;
}
